# These requirements are not installable correctly through poetry
# Because of the dependency on CUDA 11.8
-f https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
transformers
bitsandbytes==0.41.0
accelerate==0.21.0
sentencepiece
simpletransformers>=0.61.10
sacremoses
auto-gptq[triton] @ https://github.com/PanQiWei/AutoGPTQ/releases/download/v0.3.0/auto_gptq-0.3.0+cu118-cp310-cp310-linux_x86_64.whl